*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 244, 225);
}
/* start styling nav bar */
.nav-home{
    background-color: rgb(130, 180, 107);
    color: white;
}
.nav-btn-home{
    background-color: transparent;
    border: 1px solid rgb(231, 244, 225);
    color: white;
}
.nav-btn-home:hover{
    background-color: rgb(231, 244, 225);
}
/* end styling nav bar */

/* start styling header */
.header-container{
    margin-top: 120px;
}
.header-home{
    height: fit-content;
    justify-content: space-around;
}
.header-btn{
    background-color: transparent;
    border: 1px solid rgb(130, 180, 107);
    transition: all linear 0.2s;
    border-radius: 20px 0px;
}
.header-btn:hover{
    transform: scale(1.2);
    background-color: rgb(130, 180, 107);
    color: rgb(231, 244, 225);
    border-radius: 20px 0px;
}
.bg-image{
    margin-bottom: 100px;
}
.bg-image img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.2s;
    margin-bottom: 70px;
}
.bg-image img:hover{
    transform: scale(1.13);
    animation: scaleAndRotate 1s forwards;
}
@keyframes scaleAndRotate {
    0% {
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.13);
    }
    100% {
        transform: scale(1.13) rotate(360deg);
    }
}
.bg-image img:not(:hover) {
    animation: reverseRotate 0.6s forwards; 
}

@keyframes reverseRotate {
    0% {
        transform: scale(1.13) rotate(360deg); 
    }
    100% {
        transform: scale(1) rotate(0deg); 
    }
}

.logo{
    transition: all linear .15s;
}
.logo:hover{
    transform: scale(1.2)
}
.dropdown-menu{
    border: none;
}
/* end styling header */

/* start styling sliders */
.slider-button1 {
    background-color: rgb(127 4 0);
    color: white;
    border-radius: 40;
}
.slider-button2{
    background-color: rgb(209 126 44);  
    color: white;  
    border-radius: 40;
}
.slider-button3 {
    background-color: rgb(130, 180, 107);
    color: white;
    border-radius: 40;
}
/* end styling sliders */

/* start styling items section */
.items-hr{
    height: 4px;
    background-color: rgb(130, 180, 107);
    width: 50px;
    margin: auto;
    border-radius: 5px;
}
.card{
    background-color: rgb(231, 244, 225);
    border: none;
}
.card-btn{
    background-color: rgb(130, 180, 107);
    transition: all linear 0.3s;
    
}
.card-btn:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 1px rgb(130, 180, 107) solid;
}
.cards{
    transition: all linear 0.3s;
}
.cards:hover{
    transform: scale(1.16);
    z-index: 1000;
}
.card-img-top{
    transition: all linear 0.3s;
}
.card-img-top:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.cards-container-home{
    margin-bottom: 100px;
}
@media only screen and (max-width:768px){
    .header-home{
        flex-direction: column;
    }
}
/* end styling items section */

/* styling about home section */
.about-section-home{
    position: relative;
    margin-top:50px;
    background-color: rgb(130, 180, 107);
    height: fit-content;
    color: white;
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.about-home-img{
    position: absolute;
    width: 450px;
    height: 300px;
    bottom: -14px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.about-home-img:hover{
    transform: scale(1.2);
    transform: translateY(-30px);
}
.about-us-hr{
    width: 80px;
    height: 5px;
    background-color: rgb(231, 244, 225);
    border-radius: 5px;
}
.about-us-p{
    margin-top: 30px;
}
@media (max-width: 1500px){
    
    .about-home-img
    {
        display: block;
        margin: auto;
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        height: 100%;
    }
    .about-us{
        display: block;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        
    }
    .about-us-h3{
        font-size: 25px;
    }
    .about-us-p{
        font-size: 15px;
    }
    .about-us-hr{
        margin: auto;
    }
}
@media(max-width:500px){
    .about-section-home{
        width: 100%;
    }
}
/* end styling about home section */

/* start styling footer */
.footer-home{
    height: 400px;
    background-color: rgb(130, 180, 107);
}
footer input{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(37, 37, 37, 0.272);
}
.footer-btn{
    margin-top: 25px;
    background-color: rgb(231, 244, 225);
    transition: all linear 0.2s;
    box-shadow: 0 2px 4px rgba(37, 37, 37, 0.272);

}
.footer-btn:hover{
    background-color: transparent;
    border: solid 1px rgb(231, 244, 225);
    transform: scale(1.2);
}
.social{
    padding-top: 15px;
    margin: auto;
}
.fa-brands{
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-bottom: 20px;
}
.fa-brands:hover{
    transform: translateY(-20px);
    font-size: 40px;
}
/* end styling footer */

/* animation in deffrant sizes */
@media only screen and (max-width: 767px){
    .wow{
        animation: none;
    }
    .carousel , .about-section-home , .header-home-content{
        animation: none;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel , .about-section-home , .header-home-content{
        animation: none;
    }
    .card-left1{
        animation: none;
    }
    .card-mid1{
        animation: none;
   }
   .card-right1{
        animation: none;
   }
   .card-left2{
        animation: none;
   }
   .card-mid2{
        animation: none;
   }
   .card-right2{
        animation: none;
   }
}

/* start testimonial section */
.carousel-container{
    height: 400px;
}
.comment-content{
    background-color: white;
    height: 200px;
    padding: 20px;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}
.person-testimonial{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 100px;
    right: 100px;
    top: -37px;
}
.comment-container{
    position: relative;
    transition: all linear 0.3s;
}
.comment-container:hover{
    transform: scale(1.1);
}
.prev-arrow-testimonial , .next-arrow-testemonial{
}
@media(max-width:767px){
    .comment-content{
        font-size: 13px;
    }
    .person-testimonial{
        width: 55px;
        height: 55px;
        left: 50px;
        right: 50px;
        top: -27px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .comment-content{
        font-size: 16px;
    }
}
/* end testimonial section */
